{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <img src="{{ vinyl.getRecordImage }}" alt="{{ vinyl.getRecordName }}">
    </div>
    <div class="details">
<<<<<<< HEAD
        <p id="record_name"><b><label for="record_name">Record name:  </label></b>{{ vinyl.getRecordName }}</p><br>
        <p id="artist_name"><b><label for="artist_name">Artist name: </label></b>{{ vinyl.getArtistName }}</p><br>
=======
        <p>{{ vinyl.getRecordName }}</p><br>
        <p>{{ vinyl.getArtistName }}</p><br>
>>>>>>> master
    </div>

    <button onclick="location.href='{{ path('app_home') }}'">Home</button>

<<<<<<< HEAD
{#    <button id="homeButton">Home</button>#}

{#    <script>#}
{#        $(document).ready(function(){#}
{#            $("#homeButton").click(function(){#}
{#                alert("Record added successfully!");#}
{#                location.href='{{ path('app_home') }}';#}
{#            });#}
{#        });#}
{#    </script>#}


=======
>>>>>>> master
{% endblock %}